/*loading动画样式*/

body {
    position: fixed;
    width: 100%;
    height: 100%;
}

.loading {
    width: 60px;
    height: 60px;
    position: relative;
    margin: -30px auto;
    top: 50%;
}

.loading #rate {
    font-size: 9px;
    width: 100%;
    text-align: center;
    height: 20px;
    line-height: 20px;
    color: #0062e0;
    position: absolute;
    top: 100%;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0062e0;
    left: 0;
    top: 0;
    position: absolute;
    opacity: .6;
}

.double-bounce1 {
    -webkit-animation: bounce 2s infinite ease-in-out 0s;
}

.double-bounce2 {
    -webkit-animation: bounce2 2s infinite ease-in-out 0s;
}

@-webkit-keyframes bounce {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

@-webkit-keyframes bounce2 {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
}