/* 垂直柱状组件样式 */
.h5_component_bar_v{
}


.h5_component_bar_v .line{
    float: left;
    height: 100%;
    font-size: 12px;
    position: relative;

}

.h5_component_bar_v .name{
    width: 100%;
    position: absolute;
    left: 0;
    height: 20px;
    line-height: 20px;
    bottom: -20px;
    text-align: center;
}

.h5_component_bar_v .rate{
    height: 100%;
    width: 15px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
}
.h5_component_bar_v .rate .bg{
    background-color: #99c0ff;
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 3px;
}

.h5_component_bar_v .per{
    width: 100%;
    position: absolute;
    left: 0;
    /*任务三：(1)修正 百分比数字 的位置，使其保持在 .bg 的顶端*/
    top: -20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #99c0ff;
    -webkit-opacity:0;
}

.h5_component_bar_v_load .rate .bg{
    -webkit-transition:all 1s .5s;
    height: 100%;
}


.h5_component_bar_v_leave .rate .bg{
    height: 0%;
}


.h5_component_bar_v_load .per{
    -webkit-transition:all 1s 1.5s;
    -webkit-opacity:1;
}
.h5_component_bar_v_leave .per{
    -webkit-opacity:0;
}


