.h5_component_polyline {

}

.h5_component_polyline canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.h5_component_polyline .text {
	position: absolute;
	font-size: 12px;
	text-align: center;
	bottom: -20px;
	height: 20px;
	line-height: 20px;
	-webkit-transform: scale(.8);
	-webkit-transition: all 1s 1.5s;
	-webkit-opacity: 0;
}

.h5_component_polyline_load .text {
	-webkit-opacity: 1;
}

.h5_component_polyline_leave .text {
	-webkit-opacity: 0;
}