.h5_component_radar {
}

.h5_component_radar canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.h5_component_radar .text {
	position: absolute;
	font-size: 12px;
	transition: all 1s;
}